<section class=" cta-row " style="background-image: url({{ include.background_image_url }});">

	<div class="container">
		<div class="row clear-overlay">

		<div class="col-sm-12 col-md-6 col-lg-8 cta-row__col-text">
			<h2 class="cta-row__heading">{{ include.section_heading}}</h2>
			<h3 class="cta-row__subheading">{{ include.section_subheading}}</h3>
			<p class="cta-row__body-copy">{{ include.section_body_copy}}</p>
		</div>

		<div class="col-sm-12 offset-md-0 col-md-6 col-lg-4 ">
		{% include form__sign-up.html %}
		</div>

 		</div>
	</div>

</section>