<form action="" class="form sign-up box-shadow">

	<h3 class="form__heading">Get Started</h3>
	<div class="form__field-group form-group">
		<label class="form__field-label" for="company-name">Company Name</label>
		<input class="form__field-input form-control" type="text" name="company-name" placeholder="What company are you representing?"/>
	</div>

	<div class="form__field-group form-group">
		<label class="form__field-label" for="contact-name">Contact Name</label>
		<input class="form__field-input form-control" type="text" name="contact-name" placeholder="What's your name?"/>
	</div>


	<div class="form__field-group form-group">
		<label class="form__field-label" for="email">Email</label>
		<input class="form__field-input form-control" type="email" name="email" placeholder="Enter your email"/>
	</div>

 	<div class="form__field-group form-group">
		<label class="form__field-label" for="password">Password</label>
		<input class="form__field-input form-control" type="password" name="password" placeholder="Enter a password"/>
	</div>

	<button type="submit" class="form__submit btn btn-primary box-shadow">Post a Job</button>


</form>