
<form action="{{ include.post_url }}" method="post" class="form sign-up box-shadow">


	<h3 class="form__heading">Get Started</h3>
	<div class="form__field-group form-group">
		<label class="form__field-label" for="company-name">Company Name</label>

		<input class="form__field-input form-control" required type="text" name="name" />

	</div>

	<div class="form__field-group form-group">
		<label class="form__field-label" for="contact-name">Contact Name</label>

		<input class="form__field-input form-control" required type="text" name="contact" />

	</div>


	<div class="form__field-group form-group">
		<label class="form__field-label" for="email">Email</label>

		<input class="form__field-input form-control" required type="email" name="email" />

	</div>

 	<div class="form__field-group form-group">
		<label class="form__field-label" for="password">Password</label>

		<input class="form__field-input form-control" required type="password" name="password" />

	</div>

	<button type="submit" class="form__submit btn btn-primary box-shadow">{{ include.form_submit_text}}</button>


</form>