<section class="full-width-copy-row container-fluid content-row">

	<div class="container">
		<div class="col-sm-6 offset-sm-3 col-md-8 offset-md-2">
		<!-- I wonder if these should be variables -->
		<h2 class="heading--highlight">Advertise Your Job</h2>
		<p class="body-copy--large">Reach qualified local candidates and get responses right away by attracting the best applicants using our job distribution platform. When you choose BCjobs.ca, you'll gain access to over 150,000 monthly candidate visits.</p>
		</div>
	</div>

</section>