
{% assign post_url = page.post_url %}


<section class="landing__full-bleed-image" style="background-image: url('{{page.landing-background-image}}')">
	<div class="container landing__container">
		<div class="row">

			<div class="col-sm-6 col-lg-8 clear-overlay landing__col-text">
				<h1 class="landing__heading">{{ include.landing_heading}}</h1>
				<h4 class="landing__subheading">{{ include.landing_subheading}}</h4>
			</div>

			<div class="col-sm-6 col-lg-4 clear-overlay landing__col-form">
				{% include form__sign-up.html
					form_submit_text=form_submit_text
					post_url=post_url
				 %}
			</div>

		</div>
	</div>
</section>