<!-- <nav class="">
	<div class="container">




	  <a href="/" {% if page.url == "/" %}class="active"{% endif %}>Home</a>
	  |
	  <a href="/about" {% if page.url == "/about" %}class="active"{% endif %}>About</a>

	</div>
</nav> -->



<nav id="nav"  class="navbar navbar-expand-sm ">
      <div class="container nav__container">
        <a class="navbar-brand" href="https://www.bcjobs.ca/">
			{% include svg-logo.html %}
		</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navDropDown" aria-controls="navDropDown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-line"></span>
          <span class="navbar-line"></span>
          <span class="navbar-line"></span>
        </button>

        <div id="navDropDown" class="collapse navbar-collapse" >
          <ul class="navbar-nav ml-auto">
           <!--  <li class="nav-item active">
              <a class=" nav__link" href="#">See Who's Hiring</a>
            </li>
            <li class="nav-item">
              <a class=" nav__link" href="#">See Jobs</a>
            </li> -->
            <li class="nav-item">
              <a href="https://www.bcjobs.ca/login" class="nav__link nav__cta" >Sign In</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>