<section class="content-row page-section__full-bleed-image container-fluid" style="background-image: url('{{ include.background_image_url }}');">

	<div class="container">

		<div class="col-md-10 col-lg-6 col-xl-5 {% if reverse_layout == true %} offset-lg-6 offset-xl-7 offset-md-1 reverse_layout {% endif; %}">
			<div class="large-card">
			<h2 class="large-card__heading">{{ include.heading }} </h2>
			<h3 class="large-card__subheading">{{ include.subheading }}</h3>
			<p class="large-card__body">{{ include.content }}</p>
			<button class="btn btn-primary">{{ include.card_cta_copy }}</button>
			</div>
		</div>

		

		


</div>

</section>