<section class="page-section__card-row content-row container-fluid">
	<div class="container">

		<h3 class="heading">Your BC Jobs ad includes:</h3>


		<div class="row">

			<div class="col-md-4">
				<div class="card">
					<img src="assets/img/illustration--paper-airplane.png" class="card__illustration" />
					<h4 class="card__heading">Email Distribution</h4>
					<p class="card__body">Email distribution of your jobs via our job alerts platform</p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card">
					<img src="assets/img/illustration--user.png" class="card__illustration" />
					<h4 class="card__heading">Recommended Profiles</h4>
					<p class="card__body">Up to 10 recommended profiles from our database of local candidates</p>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card">
					<img src="assets/img/illustration--network.png" class="card__illustration" />
					<h4 class="card__heading">Network Distribution</h4>
					<p class="card__body">Automatic distribution through BCjobs.ca to our network of job sites</p>
				</div>
			</div>
	
		</div>
	</div>
</section>