.full-width-copy-row{
	text-align: center;
}


.full-width-copy-row--alternate{
	background-color: $light-primary;
	text-align: center;
}

.full-width-copy-row--alternate .col{
	background-color: white;
	padding: 40px;
	border-radius: $global-border-radius;
	@extend .box-shadow;
	@include phone{
		padding: 32px 16px;
	}
}

