*{
	font-family: $primary-font;
	color: $brand-dark;
}


.clear-overlay{
	position: relative;
	z-index: 1;
}

.box-shadow{
	@include box-shadow(25px, 25px, 50px, -12.5px rgba(89, 106, 125, 0.15));
}

.content-row{
	padding: 144px 0;
}

.heading--highlight{
	font-weight: 600;
	color: $primary-highlight;
}

.body-copy--large{
	@include font-size(1.2rem, 1.2rem, 1.3rem, 1.4rem, 1.5rem);
	margin: 0;
}

.hr--small{
	border-top: solid 2px $primary-highlight;
	width: 64px;
	margin: 32px auto;
}

.text-align_right{
	text-align: right;
}

