*{
	font-family: $primary-font;
	color: $brand-dark;
}


.clear-overlay{
	position: relative;
	z-index: 1;
}

.box-shadow{
	@include box-shadow(2px, 2px, 8px, 8px rgba(89, 106, 125, 0.15));
}

.content-row{
	padding: 144px 0;
}

.heading--highlight{
	font-weight: 600;
	color: $primary-highlight;
}

.body-copy--large{
	@include font-size(1.2rem, 1.2rem, 1.2rem, 1.2rem, 1.2rem);
}