




#logo{
	height: 32px;
}

#logo__wordmark{
	fill: $brand-blue;
	fill: $primary-highlight;
}

#logo__icon-top{
	fill: $brand-blue;
	fill: $primary-highlight;
}

#logo__icon-bottom{
	fill: $brand-green;
	fill: $alternate-highlight;
}

.nav__link{
	color: $brand-dark;
	padding: 12px 24px;
	&:hover{
		color: $primary-highlight;
	}
}

.nav__link.nav__cta{
	background-color: $alternate-highlight;
	border-radius: 6px;
	padding-left: 1.5rem;
	color: white;
	padding-right: 1.5rem;
	&:hover{
		background-color: darken($alternate-highlight, 10%);
		text-decoration: none;
	}
}