#nav{
	padding: 0;
}


.navbar-brand{
	padding: 16px;
}

#logo{
	height: 32px;
}

.navbar-logo{
	height: 32px;
	width: auto;
}

.albertajobcentre .navbar-logo,
.novascotiajobs, .navbar-logo{
	@include phone{
		height: 24px;
	}
}

#logo__wordmark{
	fill: $brand-blue;

	// fill: $primary-highlight;

}

#logo__icon-top{
	fill: $brand-blue;
	// fill: $primary-highlight;

}

#logo__icon-bottom{
	fill: $brand-green;
	// fill: $alternate-highlight;

}

.nav__link{
	color: $brand-dark;
	padding: 12px 24px;
	&:hover{
		color: $primary-highlight;

		text-decoration: none;

	}
	@include tablet-down{
		@include font-size(0.9rem, 0.9rem, 0.9rem, 0.9rem, 0.9rem);
		display: block;
		text-align: center;
		margin: 8px auto;
	}
}

.nav__link.nav__cta{
	background-color: $alternate-highlight;
	border-radius: 6px;
	padding-left: 1.5rem;
	color: white;
	padding-right: 1.5rem;
	max-width: 240px;
	&:hover{
		background-color: darken($alternate-highlight, 10%);
		text-decoration: none;
	}
}

.nav__container{
	@include tablet-down{
		max-width: 100%;
	}
}

#navDropDown.show{
	@include tablet-down{
		background-color: $light-grey;
	}
}

.navbar-toggler{
	margin-right: 16px;
}

.navbar-line{
	border-top: solid 2px $brand-dark;
	display: block;
	width: 24px;
	margin: 6px auto;

}
