$brand-blue: #0367AD;
$brand-green: #44A942;
$brand-dark: #596A7D;

$primary-highlight: #2B98EB;
// $primary-highlight: #4264FB;
$alternate-highlight: #32D09C;
$light-primary: #F1FAFF;

$light-grey: #F3F6FA;
$medium-dark-grey: #596A7D;


$primary-font: "Gotham A", "Gotham B";
$global-border-radius: 6px;